.navbar {
    margin: 0;
    height: auto;
    overflow: auto;
    padding: 10px 20px;
    background: linear-gradient(180deg, #0F0F0F 0%, rgba(15, 15, 15, 0.802083) 55.21%, rgba(15, 15, 15, 0) 100%);
}

.icon {
    margin: 6%;
    color: teal;
    font-size: 70px;
    font-weight: 400;
    text-decoration: none;
}